.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: minmax(150px, auto); */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  display: flex;
  align-items: center;
}

.photo-card {
  align-items: center;
  text-align: center;
}

.material-icons {
  margin-right: 5px;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
  align-items: center;
  display: flex;
  text-align: center;
  width: 150px;
  justify-content: center;
  height: 40px;
  background-color: rgb(181, 165, 207);
  border-radius: 10px;
}

/* .is-hidden {
  display: none;
} */
